<footer class="bg-secondary py-10 py-md-16">
  <div class="container-xxl">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="d-flex justify-content-center justify-content-md-start">
          <img
            src="/assets/images/logo-footer.png"
            alt="roomie 屋伴"
            class="mb-1 mb-md-2"
          />
        </div>
        <div
          class="d-flex flex-column flex-md-row justify-content-between align-items-center pb-4 pb-md-7 mb-4 mb-md-7 border-bottom border-2"
        >
          <ul class="text-center text-md-start mb-3 mb-md-0">
            <li>
              <a href="contact.html" class="link-light mb-1 mb-md-2"
                >聯絡我們</a
              >
            </li>
            <li>
              <a href="mailto:Roomie@gmail.com" class="link-light"
                ><span class="material-icons fs-4 me-2 align-bottom">
                  mail_outline </span
                >Roomie@gmail.com</a
              >
            </li>
          </ul>
          <ul class="d-flex gap-4">
            <li>
              <a href="##" class="link-light"
                ><i class="fa-brands fa-facebook fs-3 p-3"></i
              ></a>
            </li>
            <li>
              <a href="##" class="link-light"
                ><i class="fa-brands fa-instagram fs-3 p-3"></i
              ></a>
            </li>
            <li>
              <a href="##" class="link-light"
                ><i class="fa-brands fa-line fs-3 p-3"></i
              ></a>
            </li>
          </ul>
        </div>
        <div
          class="d-flex flex-column flex-md-row justify-content-between text-center text-md-start"
        >
          <p class="fs-7 text-white mb-2 mb-md-0">
            © 2023 Roomie all rights reserved.
          </p>
          <p class="fs-7 text-white">僅學習作品用無商業用途</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<a
  href="#"
  class="back-to-top material-icons position-fixed bg-light fs-2 link-primary p-2 rounded-circle border-primary z-3 shadow"
>
  arrow_upward
</a>
