// ------- bootstrap start -------

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "./utilities/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "./utilities/utilities";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tooltip";
// ------- bootstrap end -------

// base
@import "./base/font-style";
@import "./base/base";

// custom components
@import "./component/navbar";
@import "./component/dropdown";
@import "./component/offcanvas";
@import "./component/accordion";
@import "./component/button";
@import "./component/scrollbar";
@import "./component/form";

// custom utilities
@import "./utilities/hover";

// vendors
@import "./vendors/swiper";

// layout
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./layout/sidebar";

// pages
@import "./pages/index.scss";
@import "./pages/news";
@import "./pages/contact";
@import "./pages/user";
@import "./pages/user_posts";
@import "./pages/user_favorites";
@import "./pages/user_messages";
@import "./pages/login.scss";
@import "./pages/signup.scss";
@import "./pages/rentList.scss";
@import "./pages/_rentArticle.scss";
@import "./pages/matchList.scss";
@import "./pages/user_posts.scss";
@import "./pages/user_addPost.scss";
