.logo {
  max-width: 160px;
  @include media-breakpoint-up(md) {
    max-width: 200px;
  }
  @include media-breakpoint-up(lg) {
    max-width: 256px;
  }
}
.notification {
  &-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
  }
}

.nav-logged-photo {
  width: 48px;
  height: 48px;
  &-mobile {
    width: 24px;
    height: 24px;
  }
}
