.bg-linear-gradient {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    to top,
    $primary 0%,
    $primary 50%,
    $primary-100 50%,
    $primary-100 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
