option:hover {
  background-color: #c79292; /* 更改 hover 時的背景色 */
}
.banner {
  &-map {
    left: -80px;
  }
  &-county {
    fill: #337757;
    stroke: rgb(255, 255, 255);
    stroke-width: 1.5px;
    cursor: pointer;
    &:hover {
      fill: #57a47b;
    }
    &-icon,
    &-label {
      // 可以直接點擊到地圖，不受圖層上方的標示影響
      pointer-events: none;
    }
  }
  &-search {
    @include media-breakpoint-up(md) {
      background: $light-200;
    }
  }
  &-rent {
    height: 519px;
    &-img {
      width: 64px;
      height: 64px;
    }
    &-item {
      &:hover {
        background: #faedd7;
      }
    }
  }
  @include media-breakpoint-up(md) {
    &-rent {
      &-img {
        width: 80px;
        height: 80px;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    &-map {
      left: 0px;
    }
  }
}

.intro {
  bottom: -20px;
  &-h {
    height: 500px;
  }
  &-typingwrite {
    width: 250px;
  }
  @include media-breakpoint-up(md) {
    bottom: -60px;
    &-h {
      height: 604px;
    }
    &-typingwrite {
      width: 375px;
    }
  }
}

/* 手寫字樣式 */
.typewriter {
  overflow: hidden;
  padding-bottom: 6px;
  border-bottom: 10px solid $primary;
  white-space: nowrap;
}
.typingtwo {
  animation: typing 0.6s steps(2, end);
}
.typingthree {
  animation: typing 0.6s steps(3, end);
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.reverse-card {
  height: 300px;
  transition: all 0.3s;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.7s;
  &-front,
  &-back {
    backface-visibility: hidden;
  }
  &-back {
    transform: rotateY(180deg);
    background: url("/assets/images/card-back.png");
  }
  @include media-breakpoint-up(md) {
    height: 386px;
  }
}
.swiper-slide:hover > .reverse-card {
  transform: rotateY(180deg);
}
.latest-rent {
  padding-bottom: 414px;
  &-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
  @include media-breakpoint-up(md) {
    padding-bottom: 350px;
    &-img {
      height: auto;
      border-radius: 32px 32px 0 0;
    }
  }
}

.news {
  top: -334px;
  &-item {
    border-bottom: 2px solid transparent;
    border-image: url("/assets/images/mobile/dashed-mobile.png") 2 round;
  }
  &-btn {
    width: 146px;
  }
  @include media-breakpoint-up(md) {
    top: -249px;
    &-icon {
      font-size: 32px;
    }
    &-item {
      border-image: url("/assets/images/dashed.png") 2 round;
    }
    &-btn {
      width: auto;
    }
  }
}
.faq {
  min-height: 1068px;
  padding-top: 478px;
  &-img {
    top: 159px;
  }
  &-number {
    padding-left: 10px;
    padding-right: 10px;
  }
  @include media-breakpoint-up(sm) {
    min-height: 1120px;
    &-img {
      top: 243px;
    }
  }
  @include media-breakpoint-up(md) {
    min-height: 1068px;
    padding-top: 243px;
  }
}

// deco
.deco-sparkle {
  @include media-breakpoint-up(sm) {
    &::before,
    &::after {
      content: "";
      position: absolute;
      display: inline-block;
    }
    &::before {
      background: no-repeat center/contain url("/assets/images/sparkle.png");
      width: 80px;
      height: 80px;
      top: 15%;
      left: 5%;
    }
  }
  @include media-breakpoint-up(lg) {
    &::before {
      width: 121px;
      height: 121px;
      top: 15%;
    }
    &::after {
      background: no-repeat center/contain url("/assets/images/sparkle-lg.png");
      width: 80px;
      height: 80px;
      top: 5%;
      right: 14%;
    }
  }
  @include media-breakpoint-up(xxl) {
    &::before {
      background: no-repeat center/contain url("/assets/images/sparkle.png");
      width: 121px;
      height: 121px;
      top: 17%;
      left: 14%;
    }
    &::after {
      background: no-repeat center/contain url("/assets/images/sparkle-lg.png");
      width: 150px;
      height: 150px;
      top: 17%;
      right: 14%;
    }
  }
}
.deco-line-white {
  &::before,
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
  }
  &::before {
    display: none;
    background: no-repeat center/contain url("/assets/images/decoWhite-1.png");
    width: 61px;
    height: 47px;
    top: 11%;
    @include media-breakpoint-up(lg) {
      display: inline-block;
      left: 25%;
    }
    @include media-breakpoint-up(xxl) {
      left: 30%;
    }
    @media (min-width: 1700px) {
      left: 36%;
    }
  }
  &::after {
    background: no-repeat center/contain
      url("/assets/images/mobile/decoWhite-mobile.png");
    width: 81px;
    height: 47px;
    top: 10%;
    right: 0;
    @include media-breakpoint-up(sm) {
      width: 100px;
      height: 66px;
      right: 6%;
    }
    @include media-breakpoint-up(md) {
      background: no-repeat center/contain url("/assets/images/decoWhite-2.png");
      width: 130px;
      height: 96px;
      top: 5%;
    }
    @include media-breakpoint-up(lg) {
      width: 160px;
      height: 126px;
      top: 20%;
      right: 1%;
    }
    @include media-breakpoint-up(xxl) {
      top: 33%;
    }
    @media (min-width: 1700px) {
      width: 220px;
      height: 130px;
      top: 40%;
      right: 12%;
    }
  }
}
.deco-house {
  &::before,
  &::after {
    display: none;
    content: "";
    position: absolute;
    background: no-repeat center/contain url("/assets/images/house.png");
    width: 375px;
    height: 311px;
    bottom: 0;
    z-index: -1;
  }
  @include media-breakpoint-up(md) {
    &::before,
    &::after {
      display: inline-block;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
  @include media-breakpoint-up(xxl) {
    &::before {
      left: 2%;
    }
    &::after {
      right: 2%;
    }
  }
}
.deco-line-black {
  content: "";
  position: absolute;
  display: inline-block;
  background: no-repeat center/contain
    url("/assets/images/mobile/decoBlack-1-mobile.png");
  width: 62px;
  height: 66px;
  top: 8%;
  left: 10%;
  @include media-breakpoint-up(md) {
    width: 90px;
    height: 94px;
    top: 12%;
  }
  @include media-breakpoint-up(lg) {
    background: no-repeat center/contain url("/assets/images/decoBlack-1.png");
    top: 10%;
    left: 10%;
    width: 126px;
    height: 130px;
  }
  @media (min-width: 1700px) {
    top: -4%;
    width: 186px;
    height: 200px;
  }
}
.deco-cloud {
  &::before {
    @include media-breakpoint-up(lg) {
      content: "";
      position: absolute;
      display: inline-block;
      background: no-repeat center/contain url("/assets/images/cloud.png");
      width: 191px;
      height: 62px;
      bottom: 136px;
      left: 0;
    }
    @include media-breakpoint-up(xxl) {
      left: 5%;
    }
  }
  &::after {
    @include media-breakpoint-up(lg) {
      content: "";
      position: absolute;
      display: inline-block;
      background: no-repeat center/contain url("/assets/images/cloud-lg.png");
      width: 242px;
      height: 78px;
      bottom: 68px;
      right: 0;
    }
    @include media-breakpoint-up(xxl) {
      right: 7%;
    }
  }
}
.deco-news {
  &::before,
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
  }
  &::after {
    background: no-repeat center/contain
      url("/assets/images/mobile/decoBlack-3-mobile.png");
    width: 80px;
    height: 80px;
    top: 120px;
    right: 40px;
    @include media-breakpoint-up(md) {
      top: 158px;
      right: 12px;
    }
    @include media-breakpoint-up(xxl) {
      background: no-repeat center/contain url("/assets/images/decoBlack-3.png");
      top: 55px;
      right: 16px;
      width: 160px;
      height: 160px;
    }
    @media (min-width: 1700px) {
      right: 12%;
    }
  }
  &::before {
    background: no-repeat center/contain
      url("/assets/images/mobile/decoBlack-2-mobile.png");
    width: 148px;
    height: 39px;
    top: -364px;
    left: 32%;
    z-index: 2;
    @include media-breakpoint-up(md) {
      background: no-repeat center/contain url("/assets/images/decoBlack-2.png");
      width: 250px;
      height: 65px;
      top: -270px;
    }
  }
}
