.page-news {
  .breadcrumb-item + .breadcrumb-item::before {
    color: $white;
  }
  &-bg {
    padding-bottom: 240px;
  }
  &-title {
    &::before {
      content: "";
      position: absolute;
      background: no-repeat center/contain url("/assets/images/decoWhite-1.png");
      width: 61px;
      height: 47px;
      top: -12px;
      left: -68px;
    }
  }
  &-list {
    height: 600px;
    & .news {
      top: -220px;
    }
  }

  @include media-breakpoint-up(md) {
    &-bg {
      padding-bottom: 400px;
    }
    &-list {
      height: 600px;
      & .news {
        top: -380px;
      }
    }
  }
}
