.starText {
  color: red;
}
.gray-border {
  border: 2px solid gray;
  border-radius: 8px;
}
.inputWidth {
  width: 6rem;
}
.somethingWidth {
  width: 20rem;
  height: 20rem;
}
.contactForm {
  background-color: #beecf3;
  border-radius: 3px;
}
