<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>contact</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="bg-linear-gradient py-25">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-12">
            <h2 class="mb-10">聯絡我們</h2>
            <p class="fs-4 mb-md-15 mb-10">
              您的寶貴意見對我們的改進至關重要，這將有助於我們提供更好的服務和體驗。我們會仔細閱讀每一份意見，並致力於解決問題，以確保您有最好的體驗。
            </p>
          </div>
        </div>

        <div class="row justify-content-end">
          <div class="col-md-6 col-12">
            <form
              class="needs-validation bg-white py-10 px-10 rounded-5 shadow-sm"
              novalidate
            >
              <div class="form-floating mb-5">
                <input
                  type="text"
                  class="form-control rounded-4"
                  id="floatingName"
                  placeholder="請輸入名稱"
                  required
                />
                <label for="floatingName">您的大名</label>
                <div class="invalid-feedback">請輸入您的姓名</div>
              </div>
              <div class="form-floating mb-5">
                <input
                  type="email"
                  class="form-control rounded-4"
                  id="floatingEmail"
                  placeholder="example@example.com"
                  required
                />
                <label for="floatingEmail">電子郵件</label>
                <div class="invalid-feedback">請輸入您的電子郵件</div>
              </div>
              <div class="form-floating mb-5">
                <textarea
                  class="form-control rounded-4"
                  id="floatingTextarea"
                  placeholder="請輸入您的寶貴意見"
                  style="height: 100px"
                  required
                ></textarea>
                <label for="floatingTextarea form-required">您的意見</label>
                <div class="invalid-feedback">請輸入您的意見</div>
              </div>
              <button
                type="submit"
                class="btn btn-secondary rounded-4 w-100"
                id="sendBtn"
              >
                送出
              </button>
            </form>
          </div>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
    <script type="module" src="../assets/js/contact.js"></script>
  </body>
</html>
