<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>index</title>
  </head>
  <body class="u-btn">
    <%- include('./layout/header'); -%>
    <!-- rent -->
    <div class="deco-cloud position-relative">
      <div
        class="container-xxl"
        style="padding-bottom: 350px; height: 600px"
      ></div>
    </div>

    <div class="deco-news bg-primary position-relative">
      <!-- news -->
      <div
        class="news container-xxl position-absolute start-50 translate-middle-x z-1"
      >
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div
              class="d-flex flex-column flex-md-row bg-white rounded-10 pt-7 pb-4 py-md-13 px-4 px-md-8"
            >
              <div class="me-md-8">
                <h2
                  class="fs-3 fs-md-2 text-primary text-center text-md-start mb-7 mb-md-6 pt-md-9"
                >
                  最新公告
                </h2>
                <a
                  href="##"
                  class="btn btn-outline-light-300 d-none d-md-inline-block"
                  >查看更多
                  <span class="material-icons ms-5"> chevron_right </span></a
                >
              </div>
              <ul class="flex-grow-1 mb-6 mb-md-0">
                <li
                  class="news-item d-flex align-items-center position-relative link-dark fw-bold py-4 py-md-6"
                >
                  <div class="d-flex flex-column flex-md-row flex-grow-1">
                    <p class="me-5 text-light-400 fs-7 fs-md-6 mb-2 mb-md-0">
                      2023-10-14
                    </p>
                    <p class="fs-md-5">租屋注意這三件事!避免落入詐騙陷阱</p>
                  </div>
                  <span class="news-icon material-icons p-2">
                    chevron_right
                  </span>
                  <a href="##" class="stretched-link"></a>
                </li>
                <li
                  class="news-item d-flex align-items-center position-relative link-dark fw-bold py-4 py-md-6"
                >
                  <div class="d-flex flex-column flex-md-row flex-grow-1">
                    <p class="me-5 text-light-400 fs-7 fs-md-6 mb-2 mb-md-0">
                      2023-10-14
                    </p>
                    <p class="fs-md-5">租屋注意這三件事!避免落入詐騙陷阱</p>
                  </div>
                  <span class="news-icon material-icons p-2">
                    chevron_right
                  </span>
                  <a href="##" class="stretched-link"></a>
                </li>
                <li
                  class="news-item d-flex align-items-center position-relative link-dark fw-bold py-4 py-md-6"
                >
                  <div class="d-flex flex-column flex-md-row flex-grow-1">
                    <p class="me-5 text-light-400 fs-7 fs-md-6 mb-2 mb-md-0">
                      2023-10-14
                    </p>
                    <p class="fs-md-5">租屋注意這三件事!避免落入詐騙陷阱</p>
                  </div>
                  <span class="news-icon material-icons p-2">
                    chevron_right
                  </span>
                  <a href="##" class="stretched-link"></a>
                </li>
              </ul>
              <a
                href="##"
                class="news-btn btn btn-outline-light-300 d-md-none mx-auto"
                >查看更多
                <span class="material-icons ms-5"> chevron_right </span></a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- FAQ -->
      <div class="faq container-xxl position-relative pb-4">
        <div class="row">
          <div class="col-md-9 col-lg-7 z-1">
            <h2 class="mb-10 text-white d-none d-sm-block">FAQ</h2>
            <div
              class="accordion rounded-6 rounded-md-10 overflow-hidden"
              id="accordionFaq"
            >
              <div class="accordion-item border-0">
                <h4 class="accordion-header">
                  <button
                    class="accordion-button h4 bg-white collapsed py-5 py-md-8 ps-3 ps-md-8 pe-4 pe-md-9 fs-6 fs-md-4"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="false"
                    aria-controls="collapseOne"
                  >
                    <span
                      class="faq-number py-3 text-white bg-primary rounded-circle me-5"
                      >Q1 </span
                    >Roomie 屋伴 是什麼?
                  </button>
                </h4>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFaq"
                >
                  <div class="accordion-body p-3 p-md-8 fs-7 fs-md-6">
                    <p>
                      Roomie
                      屋伴是一個線上服務平台，旨在協助使用者找到合適的合租夥伴以及合適的住處或其他場域。使用者可以發布尋找合租夥伴的物件資訊，並與對該物件有興趣的使用者進行聯繫。
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item border-0">
                <h4 class="accordion-header">
                  <button
                    class="accordion-button h4 bg-white collapsed py-5 py-md-8 ps-3 ps-md-8 pe-4 pe-md-9 fs-6 fs-md-4"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    <span
                      class="faq-number py-3 text-white bg-primary rounded-circle me-5"
                      >Q2 </span
                    >如何在平台上尋找合租夥伴呢？
                  </button>
                </h4>
                <div
                  id="collapseTwo"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFaq"
                >
                  <div class="accordion-body p-3 p-md-8 fs-7 fs-md-6">
                    <p>
                      登入您的帳戶後，前往「會員中心 >
                      發文列表」點擊「＋」圖示，填寫物件相關資訊（地區、
                      租金、房屋類型、設備等）以及聯絡人資訊即可發表文章，尋找您的合租夥伴。
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item border-0">
                <h4 class="accordion-header">
                  <button
                    class="accordion-button h4 bg-white collapsed py-5 py-md-8 ps-3 ps-md-8 pe-4 pe-md-9 fs-6 fs-md-4"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    <span
                      class="faq-number py-3 text-white bg-primary rounded-circle me-5"
                      >Q3 </span
                    >如何找到適合的合租物件呢？
                  </button>
                </h4>
                <div
                  id="collapseThree"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFaq"
                >
                  <div class="accordion-body p-3 p-md-8 fs-7 fs-md-6">
                    <p>
                      可以透過篩選功能，選擇地區、租金預算、房屋類型等項目，篩選出符合您期待的物件。另外有心儀的物件時，您可以點擊收藏按鈕將多個物件添加到收藏列表中，以幫助您選擇出最理想的物件。
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item border-0">
                <h4 class="accordion-header">
                  <button
                    class="accordion-button h4 bg-white collapsed py-5 py-md-8 ps-3 ps-md-8 pe-4 pe-md-9 fs-6 fs-md-4"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFour"
                    aria-expanded="false"
                    aria-controls="collapseFour"
                  >
                    <span
                      class="faq-number py-3 text-white bg-primary rounded-circle me-5"
                      >Q4 </span
                    >我不太清楚合租的流程以及行情，我可以怎麼做？
                  </button>
                </h4>
                <div
                  id="collapseFour"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFaq"
                >
                  <div class="accordion-body p-3 p-md-8 fs-7 fs-md-6">
                    <p>
                      可以至「媒合成功」頁面觀看其他使用者的成功案例，藉此獲得更多資訊。也可以使用篩選功能篩選出附近的成功案例，以了解合租行情。
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item border-0">
                <h4 class="accordion-header">
                  <button
                    class="accordion-button h4 bg-white collapsed py-5 py-md-8 ps-3 ps-md-8 pe-4 pe-md-9 fs-6 fs-md-4"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFive"
                    aria-expanded="false"
                    aria-controls="collapseFive"
                  >
                    <span
                      class="faq-number py-3 text-white bg-primary rounded-circle me-5"
                      >Q5 </span
                    >我有在某篇文章內留言，但沒有收藏導致我找不到該篇發文，我可以怎麼做？
                  </button>
                </h4>
                <div
                  id="collapseFive"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFaq"
                >
                  <div class="accordion-body p-3 p-md-8 fs-7 fs-md-6">
                    <p>
                      可以至「會員中心 >
                      留言列表」頁面，查看您所有的留言/回覆，點擊文章標題即可前往該物件
                      頁面。
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="faq-img col-sm-8 col-md-7 col-lg-6 position-absolute end-0"
          >
            <h2 class="mb-7 text-white d-sm-none text-center">FAQ</h2>
            <img src="/assets/images/building.png" alt="building" />
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
