<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>最新公告 | Roomie 屋伴</title>
    <link rel="icon" type="image/png" href="/assets/images/favicon.ico" />
  </head>
  <body class="u-btn">
    <%- include('./layout/header'); -%>
    <div class="container-xxl position-relative deco-house py-10 py-md-20">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">首頁</a></li>
          <li class="breadcrumb-item active" aria-current="page">最新公告</li>
        </ol>
      </nav>
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto mb-10 mb-lg-0">
          <div class="bg-white rounded-10 py-8 px-4 p-md-13 shadow-sm">
            <h2 class="news-title mb-2 fs-3 fs-md-2"></h2>
            <p
              class="news-date text-light-400 fs-7 fs-md-6 pb-2 mb-8 border-bottom"
            ></p>
            <div class="news-content"></div>
          </div>
        </div>
        <div class="col-md-10 col-lg-4 mx-auto">
          <div class="sticky-md-top">
            <div class="bg-white rounded-5 py-8 mb-4 shadow-sm">
              <h6 class="text-center">看更多消息</h6>
            </div>
            <div
              class="bg-white rounded-5 fw-bold d-flex flex-column px-6 py-4 shadow-sm"
            >
              <ul class="more-news mb-2"></ul>
              <a class="py-2 align-self-end" href="news.html"
                >回最新消息列表
                <span class="material-icons">
                  keyboard_double_arrow_right
                </span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script type="module" src="/assets/js/news_single.js"></script>
  </body>
</html>
