<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>最新公告 | Roomie 屋伴</title>
  </head>
  <body class="u-btn">
    <%- include('./layout/header'); -%>
    <div class="container-xxl position-relative deco-house py-10 py-md-20">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">首頁</a></li>
          <li class="breadcrumb-item active" aria-current="page">最新公告</li>
        </ol>
      </nav>
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto mb-10 mb-lg-0">
          <div class="bg-white rounded-10 py-8 px-4 p-md-13 shadow-sm">
            <h2 class="mb-2 fs-3 fs-md-2">
              租屋注意這三件事！避免落入詐騙陷阱
            </h2>
            <p class="text-light-400 fs-7 fs-md-6 pb-2 mb-8 border-bottom">
              2023-10-14
            </p>
            <p>
              近期租屋詐騙事件頻傳，以下三種方法可以幫助您保護自己免受租屋詐騙的威脅：
              <br />
              <br />
              <strong>1. 確認租屋資訊的真實性：</strong>
              <br />
              <br />
              不要急於決定租屋,首先要確保物件資訊的真實性。網站上的租房廣告可能是詐騙者製作的,所以要謹慎選擇租房網站。最好優先選擇與房東面對面交流,參觀房屋,查看真實房屋情況。
              <br />
              <br />
              <strong>2. 謹慎處理租金和文件：</strong>
              <br />
              <br />
              絕對不要提前支付大筆金錢,如押金或租金,以免受騙上當。詐騙者通常會要求提前支付一定金額,收到款項後即捲款逃走。另外也要確保簽署正式的租賃合約,合約上應該明確記載租金金額、支付方式、入住日期、退租條款等重要資訊。最好由一名律師或合約專家檢查合約內容。
              <br />
              <br />
              <strong>3. 背景調查房東和房屋：</strong>
              <br />
              <br />
              有些不肖人士會假冒房東身分，以優惠價格、裝潢精緻的屋況圖片吸引租屋者詢問、付定金。在與房東簽約之前建議可以請對方提出相關證明。
              在租屋的過程中您若是有覺得疑惑的地方,應立即停止與房東的聯繫,並可以撥打165反詐騙專線詢問。在外租屋務必小心為上！
            </p>
          </div>
        </div>
        <div class="col-md-10 col-lg-4 mx-auto">
          <div class="sticky-md-top">
            <div class="bg-white rounded-5 py-8 mb-4 shadow-sm">
              <h6 class="text-center">看更多消息</h6>
            </div>
            <div
              class="bg-white rounded-5 fw-bold d-flex flex-column px-6 py-4 shadow-sm"
            >
              <ul class="mb-2">
                <li class="position-relative border-bottom py-4">
                  <p class="fs-md-5">租屋注意這三件事!避免落入詐騙陷阱</p>
                  <p class="me-5 text-light-400 fs-7 fs-md-6">2023-10-14</p>
                  <a href="##" class="stretched-link d-block"></a>
                </li>
                <li class="position-relative border-bottom py-4">
                  <p class="fs-md-5">租屋注意這三件事!避免落入詐騙陷阱</p>
                  <p class="me-5 text-light-400 fs-7 fs-md-6">2023-10-14</p>
                  <a href="##" class="stretched-link d-block"></a>
                </li>
                <li class="position-relative border-bottom py-4">
                  <p class="fs-md-5">租屋注意這三件事!避免落入詐騙陷阱</p>
                  <p class="me-5 text-light-400 fs-7 fs-md-6">2023-10-14</p>
                  <a href="##" class="stretched-link d-block"></a>
                </li>
              </ul>
              <a class="py-2 align-self-end" href="news.html"
                >回最新消息列表
                <span class="material-icons">
                  keyboard_double_arrow_right
                </span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
