<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>最新公告 | Roomie 屋伴</title>
  </head>
  <body class="u-btn page-news">
    <%- include('./layout/header'); -%>
    <div class="page-news-bg bg-secondary pt-20 pt-md-25">
      <h2 class="text-center fs-3 fs-md-2 text-white">
        <span class="page-news-title position-relative">最新公告</span>
      </h2>
    </div>
    <div class="page-news-list deco-house position-relative">
      <div
        class="news container-xxl position-absolute start-50 translate-middle-x z-1"
      >
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <!-- breadcrumb -->
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">首頁</a></li>
                <li
                  class="breadcrumb-item active text-white"
                  aria-current="page"
                >
                  最新公告
                </li>
              </ol>
            </nav>
            <!-- search bar -->
            <form
              class="d-flex align-items-center justify-content-end mb-2 mb-md-4"
              role="search"
            >
              <div class="position-relative me-2">
                <input
                  class="form-control ps-11 py-3 bg-white"
                  type="search"
                  placeholder="搜尋"
                  aria-label="Search"
                />
                <span class="material-icons position-absolute top-0 ps-4 pt-3">
                  search
                </span>
              </div>
              <button
                class="btn btn-outline-light-300 text-nowrap"
                type="submit"
              >
                確定
              </button>
            </form>
            <!-- news list -->
            <div
              class="d-flex flex-column bg-white rounded-10 pt-7 pb-4 px-4 p-md-13 shadow-sm"
            >
              <!-- news list item -->
              <ul class="flex-grow-1 mb-6 mb-md-10">
                <li
                  class="news-item d-flex align-items-center position-relative link-dark fw-bold py-4 py-md-6"
                >
                  <div class="d-flex flex-column flex-md-row flex-grow-1">
                    <p class="me-5 text-light-400 fs-7 fs-md-6 mb-2 mb-md-0">
                      2023-10-14
                    </p>
                    <p class="fs-md-5">租屋注意這三件事!避免落入詐騙陷阱</p>
                  </div>
                  <span class="news-icon material-icons p-2">
                    chevron_right
                  </span>
                  <a href="news_single.html" class="stretched-link"></a>
                </li>
                <li
                  class="news-item d-flex align-items-center position-relative link-dark fw-bold py-4 py-md-6"
                >
                  <div class="d-flex flex-column flex-md-row flex-grow-1">
                    <p class="me-5 text-light-400 fs-7 fs-md-6 mb-2 mb-md-0">
                      2023-10-14
                    </p>
                    <p class="fs-md-5">租屋注意這三件事!避免落入詐騙陷阱</p>
                  </div>
                  <span class="news-icon material-icons p-2">
                    chevron_right
                  </span>
                  <a href="##" class="stretched-link"></a>
                </li>
                <li
                  class="news-item d-flex align-items-center position-relative link-dark fw-bold py-4 py-md-6"
                >
                  <div class="d-flex flex-column flex-md-row flex-grow-1">
                    <p class="me-5 text-light-400 fs-7 fs-md-6 mb-2 mb-md-0">
                      2023-10-14
                    </p>
                    <p class="fs-md-5">租屋注意這三件事!避免落入詐騙陷阱</p>
                  </div>
                  <span class="news-icon material-icons p-2">
                    chevron_right
                  </span>
                  <a href="##" class="stretched-link"></a>
                </li>
                <li
                  class="news-item d-flex align-items-center position-relative link-dark fw-bold py-4 py-md-6"
                >
                  <div class="d-flex flex-column flex-md-row flex-grow-1">
                    <p class="me-5 text-light-400 fs-7 fs-md-6 mb-2 mb-md-0">
                      2023-10-14
                    </p>
                    <p class="fs-md-5">租屋注意這三件事!避免落入詐騙陷阱</p>
                  </div>
                  <span class="news-icon material-icons p-2">
                    chevron_right
                  </span>
                  <a href="##" class="stretched-link"></a>
                </li>
                <li
                  class="news-item d-flex align-items-center position-relative link-dark fw-bold py-4 py-md-6"
                >
                  <div class="d-flex flex-column flex-md-row flex-grow-1">
                    <p class="me-5 text-light-400 fs-7 fs-md-6 mb-2 mb-md-0">
                      2023-10-14
                    </p>
                    <p class="fs-md-5">租屋注意這三件事!避免落入詐騙陷阱</p>
                  </div>
                  <span class="news-icon material-icons p-2">
                    chevron_right
                  </span>
                  <a href="##" class="stretched-link"></a>
                </li>
                <li
                  class="news-item d-flex align-items-center position-relative link-dark fw-bold py-4 py-md-6"
                >
                  <div class="d-flex flex-column flex-md-row flex-grow-1">
                    <p class="me-5 text-light-400 fs-7 fs-md-6 mb-2 mb-md-0">
                      2023-10-14
                    </p>
                    <p class="fs-md-5">租屋注意這三件事!避免落入詐騙陷阱</p>
                  </div>
                  <span class="news-icon material-icons p-2">
                    chevron_right
                  </span>
                  <a href="##" class="stretched-link"></a>
                </li>
              </ul>
              <!-- pagination -->
              <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center fw-bold">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span class="material-icons align-bottom">
                        chevron_left
                      </span>
                    </a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span class="material-icons"> navigate_next </span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
