<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>合租清單</title>
    <link rel="icon" type="image/png" href="/assets/images/favicon.ico" />
    <link 
        rel="stylesheet" 
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" 
    />
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
        rel="stylesheet"
    />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
</head>
<body>
    <%- include('./layout/header'); -%>
    <div class="container bg-light-200 position-relative">
        <div class="row">
            <div class="col">
                <p class="my-3 text-dark fw-bold">條件搜尋</p>
            </div>
        </div>
<!-- 縣市 下拉選單 -->
        <div class="row p-2 d-flex align-items-center justify-content-evenly bg-light-200 rounded-3 rounded-lg-pill" id="row">
            <div class="col-xxl-1 col-xl-1 col-lg-1 p-2 p-lg-0" id="city">
                <div class="dropdown">
                    <button 
                        class="btn btn-light btn-sm border dropdown-toggle text-dark text-start"  
                        type="button" 
                        id="dropdownMenuClickableInside" 
                        data-bs-toggle="dropdown" 
                        data-bs-auto-close="outside"  
                        aria-expanded="false">
                        縣市
                    </button>
                    <ul class="dropdown-menu bg-light p-3" aria-labelledby="dropdownMenuClickableInside" style="width: 475px;">
                      <li class="pb-2 d-flex justify-content-start gap-3">
                        <p class="fw-bold">北部</p>
                        <div class="form-check cursor">
                            <input class="form-check-input countyCity cursor cityRadio" type="radio" name="inlineRadioOptions" id="taipei" value="option1">
                            <label class="form-check-label cursor" for="taipei">臺北</label>
                        </div>
                        <div class="form-check cursor">
                            <input class="form-check-input countyCity cursor cityRadio" type="radio" name="inlineRadioOptions" id="Xinbei" value="option2">
                            <label class="form-check-label cursor" for="Xinbei">新北</label>
                        </div>
                        <div class="form-check cursor">
                            <input class="form-check-input countyCity cursor cityRadio" type="radio" name="inlineRadioOptions" id="Keelung" value="option3">
                            <label class="form-check-label cursor" for="Keelung">基隆</label>
                        </div>
                        <div class="form-check cursor">
                            <input class="form-check-input countyCity cursor cityRadio" type="radio" name="inlineRadioOptions" id="Taoyuan" value="option4">
                            <label class="form-check-label cursor" for="Taoyuan">桃園</label>
                        </div>
                        <div class="form-check cursor">
                            <input class="form-check-input countyCity cursor cityRadio" type="radio" name="inlineRadioOptions" id="HsinchuShi" value="option5">
                            <label class="form-check-label cursor" for="HsinchuShi">竹市</label>
                        </div>
                        <div class="form-check cursor">
                            <input class="form-check-input countyCity cursor cityRadio" type="radio" name="inlineRadioOptions" id="HsinchuXian" value="option6">
                            <label class="form-check-label cursor" for="HsinchuXian">竹縣</label>
                        </div>
                      </li>
                      <li class="pb-2 d-flex justify-content-start gap-3">
                        <p class="fw-bold">中部</p>
                        <div class="form-check cursor">
                            <input class="form-check-input countyCity cursor cityRadio" type="radio" name="inlineRadioOptions" id="Taichung" value="option7">
                            <label class="form-check-label cursor" for="Taichung">臺中</label>
                        </div>
                        <div class="form-check cursor">
                            <input class="form-check-input countyCity cursor cityRadio" type="radio" name="inlineRadioOptions" id="Changhua" value="option8">
                            <label class="form-check-label cursor" for="Changhua">彰化</label>
                        </div>
                        <div class="form-check cursor">
                            <input class="form-check-input countyCity cursor cityRadio" type="radio" name="inlineRadioOptions" id="Miaoli" value="option9">
                            <label class="form-check-label cursor" for="Miaoli">苗栗</label>
                        </div>
                        <div class="form-check cursor">
                            <input class="form-check-input countyCity cursor cityRadio" type="radio" name="inlineRadioOptions" id="Nantou" value="option10">
                            <label class="form-check-label cursor" for="Nantou">南投</label>
                        </div>
                        <div class="form-check cursor">
                            <input class="form-check-input countyCity cursor cityRadio" type="radio" name="inlineRadioOptions" id="Yunlin" value="option11">
                            <label class="form-check-label cursor" for="Yunlin">雲林</label>
                        </div>
                      </li>
                      <li class="pb-2 d-flex justify-content-start gap-3">
                        <p class="fw-bold">南部</p>
                        <div class="form-check cursor">
                            <input class="form-check-input countyCity cursor cityRadio" type="radio" name="inlineRadioOptions" id="Kaohsiung" value="option12">
                            <label class="form-check-label cursor" for="Kaohsiung">高雄</label>
                        </div>
                        <div class="form-check cursor">
                            <input class="form-check-input countyCity cursor cityRadio" type="radio" name="inlineRadioOptions" id="Tainan" value="option13">
                            <label class="form-check-label cursor" for="Tainan">臺南</label>
                        </div>
                        <div class="form-check cursor">
                            <input class="form-check-input countyCity cursor cityRadio" type="radio" name="inlineRadioOptions" id="ChiayiShi" value="option14">
                            <label class="form-check-label cursor" for="ChiayiShi">嘉市</label>
                        </div>
                        <div class="form-check cursor">
                            <input class="form-check-input countyCity cursor cityRadio" type="radio" name="inlineRadioOptions" id="ChiayiXian" value="option15">
                            <label class="form-check-label cursor" for="ChiayiXian">嘉縣</label>
                        </div>
                        <div class="form-check cursor">
                            <input class="form-check-input countyCity cursor cityRadio" type="radio" name="inlineRadioOptions" id="Pingtung" value="option16">
                            <label class="form-check-label cursor" for="Pingtung">屏東</label>
                        </div>
                      </li>
                      <li class="pb-2 d-flex justify-content-start gap-3">
                        <p class="fw-bold">東部</p>
                        <div class="form-check cursor">
                            <input class="form-check-input countyCity cursor cityRadio" type="radio" name="inlineRadioOptions" id="Yilan" value="option17">
                            <label class="form-check-label cursor" for="Yilan">宜蘭</label>
                        </div>
                        <div class="form-check cursor">
                            <input class="form-check-input countyCity cursor cityRadio" type="radio" name="inlineRadioOptions" id="Hualien" value="option18">
                            <label class="form-check-label cursor" for="Hualien">花蓮</label>
                        </div>
                        <div class="form-check cursor">
                            <input class="form-check-input countyCity cursor cityRadio" type="radio" name="inlineRadioOptions" id="Taitung" value="option19">
                            <label class="form-check-label cursor" for="Taitung">臺東</label>
                        </div>
                      </li>
                      <li class="pb-2 d-flex justify-content-start gap-3">
                        <p class="fw-bold">外島</p>
                        <div class="form-check cursor">
                            <input class="form-check-input countyCity cursor cityRadio" type="radio" name="inlineRadioOptions" id="Penghu" value="option20">
                            <label class="form-check-label cursor" for="Penghu">澎湖</label>
                        </div>
                        <div class="form-check cursor">
                            <input class="form-check-input countyCity cursor cityRadio" type="radio" name="inlineRadioOptions" id="Kinmen" value="option21">
                            <label class="form-check-label cursor" for="Kinmen">金門</label>
                        </div>
                        <div class="form-check cursor">
                            <input class="form-check-input countyCity cursor cityRadio" type="radio" name="inlineRadioOptions" id="Matsu" value="option22">
                            <label class="form-check-label cursor" for="Matsu">連江</label>
                        </div>
                      </li>
                    </ul>
                </div> 
            </div>
<!-- 行政區 下拉選單 -->
            <div class="col-xxl-1 col-xl-1 col-lg-1 p-2 p-lg-0">
                <div id="disabled-events" class="dropdown disabled-events">
                    <button 
                        class="btn btn-light btn-sm border dropdown-toggle text-dark text-start btnTitle"  
                        type="button" 
                        id="dropdownMenuClickableInside" 
                        data-bs-toggle="dropdown" 
                        data-bs-auto-close="outside"  
                        aria-expanded="false">
                        行政區
                    </button>
                    
                    <ul class="dropdown-menu bg-light " aria-labelledby="dropdownMenuClickableInside" style="width: 375px;">
                    <p class="px-3 py-2 fw-bold dropdownTitle"></p>
                    <div class="districtList d-flex flex-wrap px-3 justify-content-start">

                    </div>
                    </ul>
                </div> 
            </div>
<!-- 租金 下拉選單 -->
            <div class="col-xxl-1 col-xl-1 col-lg-1 p-2 p-lg-0">
                <div class="dropdown">
                    <button 
                        class="btn btn-light btn-sm border dropdown-toggle text-dark text-start"  
                        type="button" 
                        id="dropdownMenuClickableInside" 
                        data-bs-toggle="dropdown" 
                        data-bs-auto-close="outside"  
                        aria-expanded="false">
                        租金
                    </button>
                    <ul class="dropdown-menu bg-light" aria-labelledby="dropdownMenuClickableInside" style="width: 200px;">
                      <li class="px-4 pb-2">
                        <div class="form-check cursor">
                            <input 
                            class="form-check-input cursor priceRadio" 
                            type="radio" 
                            name="flexRadioDefault" 
                            id="flexRadioDefault1" 
                            data-price="" 
                            checked>
                            <label class="form-check-label cursor" for="flexRadioDefault1">
                              不限
                            </label>
                        </div>
                      </li>
                      <li class="px-4 pb-2">
                        <div class="form-check cursor">
                            <input 
                            class="form-check-input cursor priceRadio" 
                            type="radio" 
                            name="flexRadioDefault" 
                            id="flexRadioDefault2" 
                            data-price="price_gte=5000&price_lte=10000">
                            <label class="form-check-label cursor" for="flexRadioDefault2">
                              5,000 - 10,000 元
                            </label>
                        </div>
                      </li>
                      <li class="px-4 pb-2">
                        <div class="form-check cursor">
                            <input 
                            class="form-check-input cursor priceRadio" 
                            type="radio" 
                            name="flexRadioDefault" 
                            id="flexRadioDefault3" 
                            data-price="price_gte=10000&price_lte=20000">
                            <label class="form-check-label cursor" for="flexRadioDefault3">
                              10,000 - 20,000 元
                            </label>
                        </div>
                      </li>
                      <li class="px-4 pb-2">
                        <div class="form-check cursor">
                            <input 
                            class="form-check-input cursor priceRadio" 
                            type="radio" 
                            name="flexRadioDefault" 
                            id="flexRadioDefault4" 
                            data-price="price_gte=20000&price_lte=30000">
                            <label class="form-check-label cursor" for="flexRadioDefault4">
                              20,000 - 30,000 元
                            </label>
                        </div>
                      </li>
                      <li class="px-4 pb-2">
                        <div class="form-check cursor">
                            <input 
                            class="form-check-input cursor priceRadio" 
                            type="radio" 
                            name="flexRadioDefault" 
                            id="flexRadioDefault5" 
                            data-price="price_gte=30000">
                            <label class="form-check-label cursor" for="flexRadioDefault5">
                              30,000 元以上
                            </label>
                        </div>
                      </li>
                    </ul>
                </div> 
            </div>
<!-- 房屋類型 下拉選單 -->
            <div class="col-xxl-1 col-xl-1 col-lg-1 p-2 p-lg-0">
                <div class="dropdown">
                    <button 
                        class="btn btn-light btn-sm border dropdown-toggle text-dark text-start"  
                        type="button" 
                        id="dropdownMenuClickableInside" 
                        data-bs-toggle="dropdown" 
                        data-bs-auto-close="outside"  
                        aria-expanded="false">
                        房屋類型
                    </button>
                    <ul class="dropdown-menu bg-light" aria-labelledby="dropdownMenuClickableInside">
                      <li class="px-4 pb-2">
                        <div class="form-check cursor">
                            <input class="form-check-input cursor houseCheckbox" type="checkbox" id="housetype1" value="housetype1">
                            <label class="form-check-label cursor" for="housetype1">
                              整層住家
                            </label>
                        </div>
                      </li>
                      <li class="px-4 pb-2">
                        <div class="form-check cursor">
                            <input class="form-check-input cursor houseCheckbox" type="checkbox" id="housetype2" value="housetype2">
                            <label class="form-check-label cursor" for="housetype2">
                              獨立套房
                            </label>
                        </div>
                      </li>
                      <li class="px-4 pb-2">
                        <div class="form-check cursor">
                            <input class="form-check-input cursor houseCheckbox" type="checkbox" id="housetype3" value="housetype3">
                            <label class="form-check-label cursor" for="housetype3">
                              分租套房
                            </label>
                        </div>
                      </li>
                      <li class="px-4 pb-2">
                        <div class="form-check cursor">
                            <input class="form-check-input cursor houseCheckbox" type="checkbox" id="housetype4" value="housetype4">
                            <label class="form-check-label cursor" for="housetype4">
                              雅房
                            </label>
                        </div>
                      </li>
                      <li class="px-4 pb-2">
                        <div class="form-check cursor">
                            <input class="form-check-input cursor houseCheckbox" type="checkbox" id="housetype5" value="housetype5">
                            <label class="form-check-label cursor" for="housetype5">
                              其他
                            </label>
                        </div>
                      </li>
                    </ul>
                </div> 
            </div>
<!-- 其他特色 下拉選單 -->
            <div class="col-xxl-1 col-xl-1 col-lg-1 p-2 p-lg-0">
                <div class="dropdown">
                    <button 
                        class="btn btn-light btn-sm border dropdown-toggle text-dark text-start"  
                        type="button" 
                        id="dropdownMenuClickableInside" 
                        data-bs-toggle="dropdown" 
                        data-bs-auto-close="outside"  
                        aria-expanded="false">
                        其他特色
                    </button>
                    <ul class="p-3 dropdown-menu bg-light" aria-labelledby="dropdownMenuClickableInside" style="width: 450px;">
                      <li class="pb-2 d-flex justify-content-start gap-3">
                        <div>
                            <p class="fw-bold" style="white-space: nowrap;">鄰近</p>
                        </div>
                        <div class="d-flex gap-2 flex-wrap">
                            <div class="form-check cursor">
                                <input class="form-check-input cursor lifeEquipmentCheckbox" type="checkbox" id="closeTo1" value="closeToOption1">
                                <label class="form-check-label cursor" for="closeTo1">學校</label>
                            </div>
                            <div class="form-check cursor">
                                <input class="form-check-input cursor lifeEquipmentCheckbox" type="checkbox" id="closeTo2" value="closeToOption2">
                                <label class="form-check-label cursor" for="closeTo2">商圈</label>
                            </div>
                            <div class="form-check cursor">
                                <input class="form-check-input cursor lifeEquipmentCheckbox" type="checkbox" id="closeTo3" value="closeToOption3">
                                <label class="form-check-label cursor" for="closeTo3">公園</label>
                            </div>
                            <div class="form-check cursor">
                                <input class="form-check-input cursor lifeEquipmentCheckbox" type="checkbox" id="closeTo4" value="closeToOption4">
                                <label class="form-check-label cursor" for="closeTo4">夜市</label>
                            </div>
                            <div class="form-check cursor">
                                <input class="form-check-input cursor lifeEquipmentCheckbox" type="checkbox" id="closeTo5" value="closeToOption5">
                                <label class="form-check-label cursor" for="closeTo5">捷運站</label>
                            </div>
                            <div class="form-check cursor">
                                <input class="form-check-input cursor lifeEquipmentCheckbox" type="checkbox" id="closeTo6" value="closeToOption6">
                                <label class="form-check-label cursor" for="closeTo6">醫療機構</label>
                            </div>
                        </div>
                      </li>
                      <li class="pb-2 d-flex justify-content-start gap-3">
                        <div>
                            <p class="fw-bold" style="white-space: nowrap;">設備</p>
                        </div>
                        <div class="d-flex gap-2 flex-wrap">
                            <div class="form-check cursor">
                                <input class="form-check-input cursor equipmentCheckbox" type="checkbox" id="device1" value="deviceOption1">
                                <label class="form-check-label cursor" for="device1">床</label>
                            </div>
                            <div class="form-check cursor">
                                <input class="form-check-input cursor equipmentCheckbox" type="checkbox" id="device2" value="deviceOption2">
                                <label class="form-check-label cursor" for="device2">衣櫃</label>
                            </div>
                            <div class="form-check cursor">
                                <input class="form-check-input cursor equipmentCheckbox" type="checkbox" id="device3" value="deviceOption3">
                                <label class="form-check-label cursor" for="device3">沙發</label>
                            </div>
                            <div class="form-check cursor">
                                <input class="form-check-input cursor equipmentCheckbox" type="checkbox" id="device4" value="deviceOption4">
                                <label class="form-check-label cursor" for="device4">桌子</label>
                            </div>
                            <div class="form-check cursor">
                                <input class="form-check-input cursor equipmentCheckbox" type="checkbox" id="device5" value="deviceOption5">
                                <label class="form-check-label cursor" for="device5">椅子</label>
                            </div>
                            <div class="form-check cursor">
                                <input class="form-check-input cursor equipmentCheckbox" type="checkbox" id="device6" value="deviceOption6">
                                <label class="form-check-label cursor" for="device6">網路</label>
                            </div>
                            <div class="form-check cursor">
                                <input class="form-check-input cursor equipmentCheckbox" type="checkbox" id="device7" value="deviceOption7">
                                <label class="form-check-label cursor" for="device7">冰箱</label>
                            </div>
                            <div class="form-check cursor">
                                <input class="form-check-input cursor equipmentCheckbox" type="checkbox" id="device8" value="deviceOption8">
                                <label class="form-check-label cursor" for="device8">電視</label>
                            </div>
                            <div class="form-check cursor">
                                <input class="form-check-input cursor equipmentCheckbox" type="checkbox" id="device9" value="deviceOption9">
                                <label class="form-check-label cursor" for="device9">冷氣</label>
                            </div>
                            <div class="form-check cursor">
                                <input class="form-check-input cursor equipmentCheckbox" type="checkbox" id="device10" value="deviceOption10">
                                <label class="form-check-label cursor" for="device10">電梯</label>
                            </div>
                            <div class="form-check cursor">
                                <input class="form-check-input cursor equipmentCheckbox" type="checkbox" id="device11" value="deviceOption11">
                                <label class="form-check-label cursor" for="device11">洗衣機</label>
                            </div>
                            <div class="form-check cursor">
                                <input class="form-check-input cursor equipmentCheckbox" type="checkbox" id="device12" value="deviceOption12">
                                <label class="form-check-label cursor" for="device12">熱水器</label>
                            </div>
                            <div class="form-check cursor">
                                <input class="form-check-input cursor equipmentCheckbox" type="checkbox" id="device13" value="deviceOption13">
                                <label class="form-check-label cursor" for="device13">天然瓦斯</label>
                            </div>
                            <div class="form-check cursor">
                                <input class="form-check-input cursor equipmentCheckbox" type="checkbox" id="device14" value="deviceOption14">
                                <label class="form-check-label cursor" for="device14">機車車位</label>
                            </div>
                            <div class="form-check cursor">
                                <input class="form-check-input cursor equipmentCheckbox" type="checkbox" id="device15" value="deviceOption15">
                                <label class="form-check-label cursor" for="device15">汽車車位</label>
                            </div>
                        </div>
                      </li>
                      <li class="pb-2 d-flex justify-content-start gap-3">
                        <div>
                            <p class="fw-bold">身分</p>
                        </div>
                        <div class="d-flex gap-2">
                            <div class="form-check cursor">
                                <input class="form-check-input cursor identityCheckbox" type="checkbox" id="identity1" value="identityOption1">
                                <label class="form-check-label cursor" for="identity1">學生</label>
                            </div>
                            <div class="form-check cursor">
                                <input class="form-check-input cursor identityCheckbox" type="checkbox" id="identity2" value="identityOption2">
                                <label class="form-check-label cursor" for="identity2">家庭</label>
                            </div>
                            <div class="form-check cursor">
                                <input class="form-check-input cursor identityCheckbox" type="checkbox" id="identity3" value="identityOption3">
                                <label class="form-check-label cursor" for="identity3">上班族</label>
                            </div>
                        </div>
                      </li>
                      <li class="pb-2 d-flex justify-content-start gap-3">
                        <div>
                            <p class="fw-bold">性別</p>
                        </div>
                        <div class="d-flex gap-2">
                            <div class="form-check cursor">
                                <input class="form-check-input cursor genderCheckbox" type="checkbox" id="sex1" value="sexOption1">
                                <label class="form-check-label cursor" for="sex1">皆可</label>
                            </div>
                            <div class="form-check cursor">
                                <input class="form-check-input cursor genderCheckbox" type="checkbox" id="sex2" value="sexOption2">
                                <label class="form-check-label cursor" for="sex2">男性</label>
                            </div>
                            <div class="form-check cursor">
                                <input class="form-check-input cursor genderCheckbox" type="checkbox" id="sex3" value="sexOption3">
                                <label class="form-check-label cursor" for="sex3">女性</label>
                            </div>
                        </div>
                      </li>
                      <li class="pb-2 d-flex justify-content-start gap-3">
                        <div>
                            <p class="fw-bold">其他</p>
                        </div>
                        <div class="d-flex gap-2">
                            <div class="form-check cursor">
                                <input class="form-check-input cursor canPetCookCheckbox" type="checkbox" id="other1" value="otherOption1">
                                <label class="form-check-label cursor" for="other1">可開伙</label>
                            </div>
                            <div class="form-check cursor">
                                <input class="form-check-input cursor canPetCookCheckbox" type="checkbox" id="other2" value="otherOption2">
                                <label class="form-check-label cursor" for="other2">可養寵物</label>
                            </div>
                        </div>
                      </li>
                    </ul>
                </div> 
            </div>
<!-- 清空按鈕 -->
            <div id="close" class="col-xxl-1 col-xl-1 col-lg-1 py-2 p-lg-0 d-flex justify-content-end justify-content-lg-center cursor">
                <label for="btn-close" class="cursor">清空</label>
                <button id="btn-close" type="button" class="btn-close" aria-label="Close"></button>
            </div>
<!-- 搜尋按鈕 -->  
            <div class="col col-xxl-5 col-xl-5 col-lg-5 pb-2 d-flex justify-content-center justify-content-lg-end pb-lg-0">
                <div class="position-relative d-flex align-items-center gap-2">
                    <input id="search" type="search" class="border rounded-pill searchInput" placeholder="搜尋"> 
                    <span class="material-symbols-outlined searchBtn" style="transform:translateY(-50%);">search</span>
                    <button id="submit" type="submit" class="btn btn-primary btn-size">確定</button>
                </div>
            </div>
        </div>
<!-- 麵包屑 --> 
        <div class="row my-3">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
                      <li class="breadcrumb-item active" aria-current="page">合租清單</li>
                    </ol>
                </nav>
            </div>
        </div>
<!-- 分隔線 -->
        <div class="row" style="border: 2px dashed #575656;"></div>
<!-- 時間 租金 -->
        <div class="row pt-4 d-flex justify-content-end">
            <div class="col d-flex justify-content-end align-items-center">
                <div id="filterDate" class="link-dark cursor">
                    <span>時間</span>
                    <span class="material-symbols-outlined fw-bold transform-y-20" style="font-size: 22px;">arrow_upward</span></div>
                <div id="filterPrice" class="link-dark cursor">
                    <span class="ps-3">租金</span>
                    <span class="material-symbols-outlined fw-bold transform-y-20" style="font-size: 22px;">arrow_upward</span></div>
            </div>
        </div>
    </div>
<!-- 文章 -->
    <div class="container bg-light-200 position-relative d-flex flex-column justify-content-center" id="list">
        
    </div>
<!-- 分頁符號 -->
    <div class="container bg-light-200 position-relative">
        <div class="row mb-5">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center fw-bold">
                </ul>
            </nav>
        </div>  
    </div>
    

    
    <%- include('./layout/footer'); -%>
<script type="module" src="../main.js"></script>
<script type="module" src="/assets/js/rentList.js"></script>
</body>
</html>